.generic-button {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
  border-radius: 3.125rem;
  text-decoration: none;
  color: var(--color);
  background-color: var(--background-color);
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 150%;
  cursor: pointer;

  &.outline {
    background-color: transparent;
    border: 0.125rem solid var(--background-color);
  }

  &.fill {
    flex: 1;
  }
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color);
  mask: var(--src) no-repeat center;
}
