@import "src/breakpoints.module";

.container {
  margin-top: 6.7rem;
  display: flex;
  justify-content: space-between;
  background-color: #0476f7;
  padding: 1.25rem 8vw;
  gap: 1rem;

  @include at-or-smaller-than(900px) {
    display: none;
  }

  .address {
    display: flex;
    flex-direction: column;
    max-width: 21.875rem;

    .title-and-icon {
      display: flex;
      margin-bottom: 0.3125rem;
      gap: 0.3125rem;
      align-items: center;

      h1 {
        font-size: 1.25rem;
        font-weight: 800;
        color: #fff;
      }
    }

    h2 {
      font-family: Inter, sans-serif;
      font-size: 1rem;
      font-weight: 500;
      color: #fff;
      opacity: 0.75;
    }
  }
}
