
.button {
  position: fixed;
  right: 2rem;
  top: 2rem;
  padding: 1rem;
  width: 4.3rem;
  height: 4.3rem;
  background-color: #0476F7;
  border-radius: 50%;
  border: none;/* buttton */
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
  z-index: 1;

  transition: bottom .4s;
}

.menuModal {
  position: fixed;
  top: 0;
  left: 0;
  padding: 6rem 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #0476F7;
  z-index: 10;
  transform: translateX(100%);
  transition: transform .4s;
}

.closeButton {
  position: absolute;
  top: 2rem;
  right: 2rem;

  background-color: transparent;
  border: none;

  img {
    width: 2rem;
    height: 2rem;
  }
}

.link {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}

.spacer {
  height: 6rem;
}

.visible {
  transform: translateX(0);
}
