.about {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: black;

  &.dark {
    color: white;
  }
}

.name {
  font-size: 20px;
  font-weight: 800;
  line-height: 120%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;

  span {
    font-size: 14px;
    line-height: 70%;
  }

  span:first-of-type {
    font-size: 16px;
    font-weight: 800;
    line-height: 100%;
  }
}

.pipe {
  width: 1px;
  align-self: stretch;
  border: 1px solid black;
  opacity: 0.5;

  &.dark {
    border-color: white;
  }
}
