.about {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  text-decoration: none;
  color: black;

  &.dark {
    color: white;
  }
}

.name {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 120%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;

  span {
    font-size: 0.875rem;
    line-height: 70%;
  }

  span:first-of-type {
    font-size: 1rem;
    font-weight: 800;
    line-height: 100%;
  }
}

.pipe {
  width: 0.0625rem;
  align-self: stretch;
  border: 0.0625rem solid black;
  opacity: 0.5;

  &.dark {
    border-color: white;
  }
}
