.buttonContainer {
  background-color: #fff;
  display: flex;
  height: 70px;
  gap: 20px;
  padding: 20px 30px;
  border-radius: 50px;
  text-decoration: none;
}

.buttonText {
  margin: auto;
  color: #0476f7;
  font-weight: bold;
  font-size: 20px;
}

.buttonIcon {
  margin: auto;
}
