.page {
  padding-bottom: 100px;
  background-color: white;
}

.contactForm {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  max-width: 900px;
}

.contactForm label {
  margin: 30px 0;

  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;

  color: #1c294d;
}

.contactForm input,
.contactForm textarea {
  padding: 20px 30px;
  background-color: #f9f9f9;

  border: 1px solid #cccccc;
  border-radius: 20px;

  outline: none;

  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;

  &::placeholder {
    color: #a4a4a4;
  }
}

.contactForm textarea {
  min-height: 200px;
  resize: vertical;
}

.contactForm p {
  margin: 30px 0;

  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 45px;

  color: #a1a1a2;
}

.contactForm button {
  padding: 25px 40px;

  border-radius: 50px;
  background-color: #0476f7;

  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  color: #ffffff;

  cursor: pointer;
}

.contactForm .error {
  margin-top: 12px;
  color: red;
  font-size: 18px;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}
