.page {
  padding-bottom: 6.25rem;
  background-color: white;
}

.form-wrapper {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 56.25rem;
  width: 100%;
}

.contact-form label {
  margin: 1rem 0;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.3rem;
  line-height: 2.5rem;
  color: #1c294d;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 1.5rem;
  padding: 1.25rem 1.875rem;
  background-color: #f9f9f9;
  border: 0.0625rem solid #ccc;
  border-radius: 1.25rem;
  outline: none;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.5rem;

  &::placeholder {
    color: #a4a4a4;
  }
}

.contact-form textarea {
  min-height: 12.5rem;
  resize: vertical;
}

.contact-form p {
  margin: 1.875rem 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 185%;
  color: #a1a1a2;
}

.contact-form button {
  padding: 1.5625rem 2.5rem;
  border-radius: 3.125rem;
  background-color: #0476f7;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.6875rem;
  color: #fff;
  cursor: pointer;
}

.contact-form .error {
  margin-top: 0.75rem;
  color: red;
  font-size: 1.125rem;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}
