.procedures-section {
  padding: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.procedures-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 100px;
}
