.faq-section {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-items-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px 110px;
}

.more-questions {
  margin-top: 60px;
  padding: 50px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  border-radius: 30px;
  background-color: #d1e2f6;
  place-self: stretch stretch;

  h1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    color: #1c294d;
  }

  p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 175%;
    color: #a1a1a2;
  }

  .cta {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-self: flex-end;
  }
}
