@use 'src/breakpoints.module' as breakpoints;


.faq-section {
  padding: 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoints.at-or-smaller-than(900px) {
    padding: 5rem 2.5rem;
  }
}

.faq-items-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.75rem 6.875rem;

  @include breakpoints.at-or-smaller-than(900px) {
    grid-template-columns: 1fr;
  }
}

.more-questions {
  margin-top: 3.75rem;
  padding: 3.125rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 1rem;
  border-radius: 1.875rem;
  background-color: #d1e2f6;
  place-self: stretch stretch;

  @include breakpoints.at-or-smaller-than(900px) {
    display: flex;
    flex-direction: column;
  }

  h1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 130%;
    color: #1c294d;
  }

  p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 175%;
    color: #a1a1a2;
  }

  .cta {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-self: flex-end;
  }
}
