@import "src/breakpoints.module";

.container {
  display: flex;
  justify-content: space-between;
  background-color: #0476f7;
  padding: 1.25rem 8vw;

  .mobile {
    @include at-or-bigger-than($sm-min) {
      display: none;
    }

    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 130%;
    color: white;

    div {
      display: flex;
      align-items: center;
      gap: 0.7rem;
    }

    img {
      margin-bottom: 0.3rem;
      width: 1.75rem;

      &:nth-child(2) {
        // hack to change image color to white
        filter: invert(100%) brightness(118%) contrast(100%);
      }
    }
  }
}

.menuModal {
  position: fixed;
  top: 0;
  left: 0;
  padding: 6rem 6rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #0476F7;
  z-index: 10;
  transform: translateX(100%);
  transition: transform .4s;
}


.address {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1 {
    font-size: 1.7rem;
  }

  img {
    width: 2rem;
    height: 2rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 140%;
  }
}

.titleAndIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem
}

.closeButton {
  position: absolute;
  top: 2rem;
  right: 2rem;

  background-color: transparent;
  border: none;

  img {
    width: 2rem;
    height: 2rem;
  }
}

.visible {
  transform: translateX(0);
}
