.container {
  width: 100%;
  min-height: 45.9375rem;
  display: flex;
  align-items: center;
  background-image: linear-gradient(70deg, #1c294d 25%, #0000 60%),
    url("/IMG_2646.jpg");
  background-size: cover;
  background-position: center 30%;
  position: relative;
  padding: 6.25rem;
}

.content {
  max-width: 48.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.title {
  font-size: 6.25rem;
  font-weight: 800;
  color: #fff;
  line-height: 6.25rem;
}

.description {
  font-family: Inter, sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2.8125rem;
  color: #fff;
}

.buttons {
  display: flex;
  gap: 1.875rem;
}

.mouse-icon {
  position: absolute;
  bottom: 2.5rem;
  left: 49%;
}

.inverted {
  transform: rotate(180deg);
}
