.container {
  min-height: 1025px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    max-width: 818px;
    height: auto;
  }
}

.content {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  h1 {
    font-size: 32px;
    font-weight: 800;
    color: #1c294d;
  }

  p,
  ul {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    color: #595959;
    list-style-type: none;
  }
}

.divider {
  width: 93px;
  border-bottom: 1px solid rgb(89 89 89 / 50%);
}
