.row {
  display: flex;
  flex-direction: row;
  gap: 30px;
  cursor: pointer;
}

.row img {
  width: 150px;
  height: 150px;
  border-radius: 24px;
  object-fit: cover;
}

.column {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.column h2 {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 100%;
}

.column p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 175%;
  color: #a1a1a2;
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}
