.row {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  cursor: pointer;
}

.row img {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 1.5rem;
  object-fit: cover;
}

.column {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.1875rem;
}

.column h2 {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 100%;
}

.column p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 175%;
  color: #a1a1a2;
  overflow: hidden;
  text-overflow: ellipsis;
}
