@import "src/breakpoints.module";

.row {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  cursor: pointer;
}

.row img {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 1.5rem;
  object-fit: cover;
  flex-shrink: 0;

  @include at-or-smaller-than(1200px) {
    width: 7.5rem;
    height: 7.5rem;
  }
}

.column {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.1875rem;

  @include at-or-smaller-than(1200px) {
    padding-top: 0;
    gap: 1rem;
  }
}

.column h2 {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 100%;

  @include at-or-smaller-than(1200px) {
    font-size: 1.6rem;
    line-height: 150%;
    margin-top: 0;
  }
}

.column p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 175%;
  color: #a1a1a2;
  overflow: hidden;
  text-overflow: ellipsis;

  @include at-or-smaller-than(1200px) {
    font-size: 1.4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
