.buttonContainer {
  background-color: #0476f7;
  display: flex;
  align-items: center;
  height: 70px;
  gap: 20px;
  padding: 20px 30px;
  border-radius: 50px;
  text-decoration: none;
  transition: box-shadow 0.3s ease;
}

.buttonContainer.shadow {
  box-shadow: 0 4px 4px rgb(0 0 0 / 30%);
}

.buttonContainer.shadow:hover {
  box-shadow: 0 6px 6px rgb(0 0 0 / 40%);
}

.buttonText {
  margin: auto;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.buttonIcon {
  margin: auto;
}
