.buttonContainer {
  background-color: #0476f7;
  display: flex;
  height: 70px;
  gap: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
  text-decoration: none;
}

.buttonText {
  margin: auto;
  color: #ffffff;
  font-family: Manrope;
  font-weight: 700;
}

.buttonIcon {
  margin: auto;
}
