@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.initialSectionContainer {
  width: 100%;
  height: 735px;
  display: flex;
  align-items: center;
  background-image: linear-gradient(70deg, #1c294d 25%, #0000 60%),
    url("/IMG_2646.jpg");
  background-size: cover;
  background-position: center 30%;
}

.initialSectionContent {
  width: 780px;
  margin-left: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.doctorName {
  font-size: 100px;
  font-weight: 800;
  color: #ffffff;
  line-height: 100px;
}

.doctorBio {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 45px;
  color: #ffffff;
}

.buttons {
  display: flex;
  gap: 30px;
}
