.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px 100px;
}

.items {
  display: flex;
  gap: 5px;
  justify-content: center;

  a {
    padding: 12px 15px;
    color: #8b8b8b;
    font-weight: 500;
    font-size: 1.25rem;
    text-decoration: none;

    &.selected {
      font-weight: 800;
      color: #0476f7;
    }
  }
}
