.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  background-color: #fff;
  padding: 0 100px;
}

.nav-options {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.nav-item {
  padding: 12px 15px;
  color: #8b8b8b;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}

.selected {
  font-weight: 800;
  color: #0476f7;
}
