.container {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: auto;
  margin-left: 0;
}

.adressTitleLine {
  display: flex;
  margin-bottom: 5px;
}

.adressTitle {
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
  margin: auto;
  margin-left: 5px;
}

.adressDescription {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.75;
}
