.container {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: auto;
  margin-left: 0;
}

.adress-title-line {
  display: flex;
  margin-bottom: 5px;
}

.adress-title {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  margin: auto;
  margin-left: 5px;
}

.adress-description {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  opacity: 0.75;
}
