@import "src/breakpoints.module";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6.25rem 0 6.25rem 6.25rem;
  gap: 6.25rem;

  @include at-or-smaller-than(900px) {
    flex-direction: column;
    padding: 5rem 2.5rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.875rem;
  max-width: 56.25rem;
}

.title {
  font-family: Manrope, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 6.25rem;
  line-height: 100%;
  color: #0476f7;

  @include at-or-smaller-than(1400px) {
    font-size: 4.5rem;
    line-height: 110%;
  }

  @include at-or-smaller-than(900px) {
    font-size: 3.6rem;
    line-height: 110%;
  }
}

.text {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 1.75rem;
  line-height: 2.8125rem;
  color: #8b8b8b;

  @include at-or-smaller-than(900px) {
    font-size: 1.4rem;
    line-height: 150%;
  }
}

.image {
  max-width: min(50%, 70vh);
  height: auto;
  border-top-left-radius: 6.25rem;
  border-bottom-left-radius: 6.25rem;
  aspect-ratio: 1;
  object-fit: cover;

  @include at-or-bigger-than(1900px) {
    margin-right: 6.25rem;
    border-top-right-radius: 6.25rem;
    border-bottom-right-radius: 6.25rem;
  }

  @include at-or-smaller-than(900px) {
    width: 100%;
    max-width: 100%;
    border-radius: 3rem;
  }
}
