@use "src/breakpoints.module" as breakpoints;

.footer {
  padding: 3.125rem 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: black;

  @include breakpoints.at-or-smaller-than(900px) {
    padding: 5rem 2.5rem;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include breakpoints.at-or-smaller-than(900px) {
    flex-direction: column;
  }
}

.socialsWrapper {
  @include breakpoints.at-or-smaller-than(900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
}

.socials-title {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 175%;
  color: #fff;
}

.socials {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.footer hr {
  margin: 1.875rem 0;
  opacity: 0.25;
  border: 0.0625rem solid #ccc;
}

.made-by {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgb(255 255 255 / 50%);
  text-decoration: none;
}
