@use "src/breakpoints.module" as breakpoints;

.container {
  padding: 6.25rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    max-width: min(50%, 70vh);
    border-top-right-radius: 6.25rem;
    border-bottom-right-radius: 6.25rem;
    width: 50%;
    height: auto;

    @include breakpoints.at-or-bigger-than(1900px) {
      margin-left: 6.25rem;
      border-top-left-radius: 6.25rem;
      border-bottom-left-radius: 6.25rem;
    }

    @include breakpoints.at-or-smaller-than(1200px) {
      display: none;
    }
  }
}

.content {
  padding: 6.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;

  @include breakpoints.at-or-smaller-than(900px) {
    padding: 5rem 2.2rem 2.2rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #1c294d;
  }

  p,
  ul {
    font-family: Inter, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.8125rem;
    color: #595959;
    list-style-type: none;
  }
}

.divider {
  width: 5.8125rem;
  border-bottom: 0.0625rem solid rgb(89 89 89 / 50%);
}
