.title {
  margin: 0 auto 3.75rem;
  display: inline-block;
  font-size: 3.125rem;
  font-weight: 800;
  color: #1c294d;
  text-decoration: underline;
  text-decoration-color: #0476f7;
  text-underline-offset: 1.25rem;
  text-decoration-thickness: 0.3125rem;
}
