@import "src/breakpoints.module";

.cards {
  padding: 9.375rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5.625rem;
  flex-wrap: wrap;
  justify-content: center;

  @include at-or-smaller-than(1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include at-or-smaller-than(900px) {
    grid-template-columns: repeat(1, 1fr);
    padding: 5rem 2.5rem;
  }
}
