@use "breakpoints.module" as *;
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap";

:root {
  font-size: 14px;
}

body,
html {
  font-family: Manrope, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
