@use 'src/breakpoints.module' as breakpoints;


.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.625rem;
}

.image-container {
  height: 21.875rem;
  width: 100%;
  background-color: #d1e2f6;
  background-size: cover;
  border-radius: 1.25rem;
}

.title {
  margin-top: 1.875rem;
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 800;
  color: #1c294d;
  text-align: center;
}

.text {
  margin: 1.875rem 0;
  height: 5.375rem;
  font-size: 1.5rem;
  line-height: 2.8125rem;
  font-weight: 500;
  color: #a1a1a2;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.button {
  margin: auto;
  justify-content: center;
  width: 100%;
}
