.container {
  height: 120px;
  background-color: #0476f7;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  align-items: center;
}

.adress {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.adressTitleLine {
  display: flex;
  // justify-content: center;
}

.adressTitle {
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
  margin: auto;
  margin-left: 5px;
}

.adressDescription {
  font-family: Inter; //TO-DO adicionar fonte inter
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
